:root {
  --accent-font: 'PressStart2P';
  --main-font: 'Inter-Variable';
  --main-color: #000;
  --accent-color: #fff;
  --background-color: #fff;
  --text-weight: 400;
  --title-weight: 700;
  --background:
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom,#e7e7e7 0.01%, #1a1a1a 100%);
  --wide-block-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --heart-core-color: #000;
  --heart-contour-color: #000;
  --heart-main-body-color: #000;
  --heart-sparks-color: #000;
  --heart-animation-fill-color: #f00;
}

@media (width <= 375px) {
  :root {
    --wide-block-size: 100%;
  }
}
